/* Tamanho delimitado da tela */
.container{
    max-width: 98rem;
    margin: 0 auto;

}

/* Tamanho da tela inteira*/
.container-fluid{
    max-width: auto;
}

/* Conteúdo da tela */
.content{
    margin: 3.2rem;
}